<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body> 
    <header> <h1> farm auction farm </h1></header>
    <main>
       
        <div  class="login-container">
         <div class="login-left">
             <!-- Left side content here -->  
           </div>
           <div class="login-right">
         <section id="poster-side">
              <h1>Register</h1>
              <% if (data) { %>
                <p style="font-size: larger;color: rgb(238, 44, 44);"><%= data %></p>
                               <% } %>
         <form id="login-form" action="/login/register" method="post">
           <input id="username" name="name" type="text" placeholder="username" required>
            <input id="email" name="email" type="email" placeholder="enter email" required>
            <input id="password" name="password" type="password" placeholder="enter password" required>
         
         <button type="submit" formaction="/login/register">Register</button>
         </form>
         <br>
         <a href="/login/"><button> Login</button></a>
     
         </section>
         </div>
         </div>
    </main>
    
    <footer>
        &copy; My Website <%= new Date().getFullYear() %>
    </footer>
</body>
</html>
